.section-about{
background-color: #f3efef;
margin-top:-20vh;
padding: 25rem 0;

}

.section-project{
    background-color: #f3efef;
    margin-top:-10vh;
    padding: 25rem 0 0 10rem;
}
.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position:relative;
    
}
.card_side{
    width:30rem;
    height:50rem;
    transition:all .8s ease;
    padding:2rem;
    margin-top:3rem;
    margin-bottom: 5rem;
    position:absolute;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow:hidden;
    box-shadow: 0 1.5rem 4rem rgba(12, 12, 12, .15);
}

.card:hover .card_side--front{

    transform:rotateY(-180deg);
}
.card_side--front{
    background-color: white;  
    z-index:20;      
}
.card_side--back{
    background-image:linear-gradient(to right bottom,
    rgba(177, 93, 236, 0.705), rgba(68, 8, 70, 0.842));
    transform:rotateY(180deg);
    z-index:10;  
}

.card:hover .card_side--back{
    transform:rotateY(0);    
}
.card_picture{
    background-size:cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path:polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card_picture--1{
    background-image:linear-gradient(to right bottom,
    rgba(177, 93, 236, 0.705), rgba(68, 8, 70, 0.842)),
    url(../images/project-2.png);
}
.heading-secondary{
    font-size:4rem;
    text-transform: uppercase;
    font-weight: 700;
    display:inline-block;
    background-image: linear-gradient(to right bottom,
    rgba(231, 212, 39, 0.705), rgba(27, 156, 16, 0.8));
    -webkit-background-clip:text;
    color:transparent;
    letter-spacing: .2rem;
    transition: all .2s;
}
.heading-secondary:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(rgb(32, 31, 31), .2);
}

.heading-tertiary{
    font-size:3.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    text-align: justify;
    font-size: 2.5rem;
    font-family:'Baloo Chettan 2', cursive;
    margin-left:2rem;
    margin-right:2rem;
}

.u-center-text{
    text-align: center;
}
.u-margin-top{
    margin-top:15rem;
}
.u-margin-bottom-8{
    margin-bottom: 8rem;
}
