html{
    font-size:62.5%;
}
    @media (max-width:600px) /* 600px */
    {
        html{
            font-size:30%;
            }
            
    }

    
    @media (max-width:1200px) /* 1200px */
    {
        html{
            font-size:56.25%;
        }
    }
    @media (min-width:1800px) /* 1800px */
    {
        html{
            font-size:75%;
        }
    }